.user {
    width: 35px;
    height: 35px;

    border-radius: 50%;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: content-box;

    color: var(--button-color);
    background-color: var(--button-background-color);
    font-weight: 500;

    margin: 0 2px;
}

.initials {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: default;
}
