.toolkit {
    position: relative;
    text-align: center;

    border-radius: 8px;
    border: 0;

    display: flex;
    flex-direction: row;
}

.tool {
    border-radius: 10px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: content-box;

    color: #fff;
    font-weight: 500;

    border: 0;
    background-color: rgb(0 0 0 / 80%);
    cursor: pointer;
    padding: 0 15px;
}

.tool:hover {
    background-color: rgb(0 0 0 / 40%);
}
