@font-face {
    font-family: Inter;
    src: url('./assets/fonts/Inter-Regular.woff2?v=3.19') format('woff2'),
        url('./assets/fonts/Inter-Regular.woff?v=3.19') format('woff');

    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Inter;
    src: url('./assets/fonts/Inter-Medium.woff2?v=3.19') format('woff2'),
        url('./assets/fonts/Inter-Medium.woff?v=3.19') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Inter;
    src: url('./assets/fonts/Inter-SemiBold.woff2?v=3.19') format('woff2'),
        url('./assets/fonts/Inter-SemiBold.woff?v=3.19') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: Inter;
    src: url('./assets/fonts/Inter-Bold.woff2?v=3.19') format('woff2'),
        url('./assets/fonts/Inter-Bold.woff?v=3.19') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Charter;
    src: url('./assets/fonts/ITC-Charter-Regular.woff2') format('woff2'),
        url('./assets/fonts/ITC-Charter-Regular.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    overflow: hidden;
}

a {
    cursor: pointer;
    text-decoration: none;
}

canvas {
    display: block;
}

@keyframes colors {
    0% {
        background-color: #51a3a3;
    }
    25% {
        background-color: #75485e;
    }
    50% {
        background-color: #cb904d;
    }
    75% {
        background-color: #dfcc74;
    }
    100% {
        background-color: #c3e991;
    }
}

body {
    margin: 0;
}

.wrapper {
    width: 100vw;
    height: 100vh;

    background-color: #51a3a3;

    /* animation: colors 15s ease infinite; */
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade {
    animation: fade ease-in 0.1s forwards;
    opacity: 0;
}

.delayed {
    animation-delay: 1s;
}

@keyframes slide {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.slide {
    animation: slide ease-in 0.3s forwards;
}
