.button {
    position: relative;
    text-align: center;

    font-size: clamp(0.938rem, 2vw + 1rem, 1.363rem);

    display: inline-block;
    border-radius: 100px;
    padding: 20px 30px;
    color: var(--button-color);
    font-weight: 700;

    z-index: 1;
    transition: background-color 0.25s ease-in;
    background-color: var(--button-background-color);
    border: 0;
    cursor: pointer;
}

.button:hover {
    background-color: var(--button-background-color-hover);
}

.button:active {
    top: 2px;
    outline: none;
}
