.notification {
    position: fixed;
    top: 5px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
}

.pill {
    color: var(--button-color);
    background-color: var(--button-background-color);
    padding: 10px 15px;
    border-radius: 8px;
    display: inline-flex;
}
